.fileEntryContainer {
	display: flex; 
	align-items: center;
}

.fileEntryContainer > input {
	margin: 0px 20px;
}

.fileLinkContainer {
	display: flex;
	align-items: center;
	padding: 0px 20px;
}

.fileLinkContainer:hover {
	background-color: white;	
	color: black;
	cursor: pointer;
}

.fileNonlinkContainer {
	display: flex;
	align-items: center;
	padding: 0px 20px;
}

.fileEntryList {
	list-style-type:none;
	width=100%;
}

